<h1 class="aboutTitle">About</h1>
<h3>👋, I am Pranav Karthik. I've always loved to code since a young age and started iOS Development quite recently. The community has been
helpful and motivating. After going to WWDC I've learnt a lot and hope to continue growing!
  
I'm about to go to 9th grade soon, and throughout my time of going school, I've always noticed peers
sometimes forgetting a big test or completely not doing homework assignments on time. This can apply to students in university or higher too.
I created Trackr to help solve this problem in a simple but nice-looking way. The app has helpful reminders for when assignments are due and
other helpful tools to help students stay on top of their school workload. Hope you enjoy the app!

</h3>
