<h1 class="aboutTitle">About</h1>
<p class="aboutText">👋, I am Pranav Karthik, WWDC 19 Scholar. I've always loved to code since a young age and started iOS Development quite recently. The community has been
helpful and motivating. Learn more about me <a href="https://pranavk.tech">here</a>
<br>
<br>
Trackr was created to help students around the world keep track of their schoolwork and remind them before the duedate. It was initially created to help students
  in my school but it has evolved with many more features which I think can really help students including myself. Hope you enjoy using the app!
</p>
<h1 class="contactTitle">Contact</h1>
<p class="contactText">If you have any questions, need support, or just want to say hi, you can throw me an email at <a href="mailto:support@trackrapp.co">support@trackrapp.co</a></p>

