<h1 class="aboutTitle">About</h1>
<h3 class="aboutText">👋, I am Pranav Karthik. I've always loved to code since a young age and started iOS Development quite recently. The community has been
helpful and motivating. After going to WWDC I've learnt a lot and hope to continue growing!
<br>
Trackr was created to help students over the world keep track of their schoolwork and remind them before the duedate. It was initially created to help students
  in my school but it has evolved with many more features which I think can really help students including myself. Hope you enjoy the app!
</h3>
<h1 class="contactTitle">Contact</h1>
<h3 class="contactText">If you have any questions, need support, or just want to say hi, you can throw me an email at <a href="mailto:support@trackrapp.co">support@trackrapp.co</a></h3>

