
<h1 class="aboutTitle">Presskit</h1>
<p class="aboutText">You can download the complete press kit with screen shots, demo trailer, and hi-res icon <a href="google.com">here</a></p>
<h1 class="contactTitle">Screenshots</h1>
<img src="/assets/screenshot_1.png" alt="screenshot_1" height="538" width="248">
<img src="/assets/screenshot_2.png" alt="screenshot_2" height="538" width="248">
<img src="/assets/screenshot_3.png" alt="screenshot_3" height="538" width="248">
<img src="/assets/screenshot_4.png" alt="screenshot_4" height="538" width="248">
<h1 class="thirdTitle">Promo Images</h1>
<img src="/assets/promo_banner.png" alt="promo_banner" height="512" width="1024">
<img src="/assets/promo_banner2.png" alt="promo_banner" height="512" width="1024">
