
<h1 class="aboutTitle">Presskit</h1>
<p class="aboutText">You can download the complete press kit with screen shots, promo banner, review guide, and hi-res icon <a href="{{ site.baseurl }}/download/Trackr_Press_Kit.zip">here</a></p>
<h1 class="contactTitle">Screenshots</h1>
<img class="screen" src="/assets/screenshot_1.png" alt="screenshot_1" height="538" width="248">
<img class="screen2" src="/assets/screenshot_2.png" alt="screenshot_2" height="538" width="248">
<img class="screen3" src="/assets/screenshot_3.png" alt="screenshot_3" height="538" width="248">
<img class="screen4" src="/assets/screenshot_4.png" alt="screenshot_4" height="538" width="248">
<h1 class="thirdTitle">Promo Images</h1>
<br>
<img class="promo" src="/assets/promo_banner.png" alt="promo_banner" height="512" width="1024">
<img class="promo2" src="/assets/promo_banner2.png" alt="promo_banner" height="512" width="1024">
<h1 class="fourthTitle">App Trailer</h1>
<iframe class="video" width="480" height="270" src="https://www.youtube.com/embed/rzLjE8Pv-Ck">
</iframe>
